<div class="container text-center">
<%=  @training.name %>
<br>
<%=  @training.start_date.strftime("%I:%M") %> - <%=  @training.end_date.strftime("%I:%M") %>
<br>
<%=  @training.group %>
<br>
<%= cl_image_tag @training.photo.key, height: 300, width: 400 %>


 <% if !current_user.trainings.where(id: @training).any?  %>
  <%= simple_form_for [@training, @booking], url: training_bookings_url(@training) do |f| %>
    <%= f.button :submit, "Book", class: "btn btn-success" %>
  <% end %>
  <% else %>

  <% end %>
<br>
 <p>Liste des inscrits</p>
 <% @training.bookings.each do |booking| %>

<%= booking.user.email %> <br>

<% end %>
<br><br>
 </div>
<%= link_to 'Edit a training', edit_training_path %>
